.roundContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  margin: auto;
}

/* .roundContainer {
  display: flex;
  justify-content: space-between;
} */

.left-column {
  justify-self: right;
}
